# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary (global) repo maintainers
*       @Karan-3108  @ Ambiplatforms-TORQUE 

# Documentation
docs/ @ Ambiplatforms-TORQUE

# Arcis Modules
x/claims/ @Karan-3108
x/epochs/ @Karan-3108
x/erc20/ @Karan-3108 @Karan-3108
x/fees/ @Karan-3108
x/incentives/ @Karan-3108
x/inflation/ @Karan-3108
x/recovery/ @Karan-3108
x/vesting/ @Karan-3108
